<template>
  <div class="container">
    <progress-bar :count="parentSpisok.length"></progress-bar>
    <quote-box @sendQuote="updateList"></quote-box>
    <quote-list :quoteArray="parentSpisok"></quote-list>
  </div>
</template>

<script>
import QuoteBox from '@/components/QuoteBox'
import QuoteList from '@/components/QuoteList'
import ProgressBar from '@/components/ProgressBar'


export default {
  name: 'HelloWorld',
  components: {
    QuoteBox,
    QuoteList,
    ProgressBar
  },
  data () {
    return {
      parentSpisok: []
    }  
  },
  methods: {
    updateList(quoteSpisok) {
      this.parentSpisok = quoteSpisok;
    }
  },
  beforeMount() {
    console.log("Hello There");

  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.container {
  width: 800px;
  margin: 0 auto;
}

h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>