<template>
    <div>
        <span> Quotes Added</span>
        <mdb-container>
            <mdb-progress :height="20" :value="count * 10">{{count + ' / 10'}}</mdb-progress>
        </mdb-container>
    </div>
</template>

<script>
import { mdbContainer, mdbProgress } from 'mdbvue';
export default {
    name: 'ProgressBar',
    props: [
        "count"
    ],
    components: {
      mdbContainer,
      mdbProgress
    }
}
</script>

<style>
    .progress-bar{
        background-color: #5179b7;
        color: white;
    }
</style>