<template>
    
    <div>
        <link href='https://fonts.googleapis.com/css?family=Arizonia' rel='stylesheet'>
        
        <div class="list-container">
            <div class="quote" v-for="(quote, index) in quoteArray" :key="index">
                {{quote}}
            </div>
        </div>
        
    </div>
    
</template>

<script>
export default {
    name: 'QuoteList',
    props: [
        "quoteArray"
    ]
}
</script>

<style scoped>
.list-container {
    display: flex;
  flex-flow: row wrap;
}
.quote {
    width: 158px;
    border: 1px solid #5179b7;
    padding: 15px;
    color: black;
    margin-right: 10px;
    margin-bottom: 10px;
    font-family: 'Arizonia';
}
    
</style>