<template>
    <div class="container">
        <span>Quote</span>
        <br>
        <textarea class="message" v-model="message"></textarea>
        <br>
        <button @click="addQuote(message)">Send</button>
    </div>
</template>

<script>
const axios = require('axios');
axios.defaults.baseURL = 'http://localhost:3000';

export default {
    name: 'QuoteBox',
    props: [
    ],
    data() {
        return {
            message: '',
            spisok: []
        }
    },
    methods: {
        addQuote(quote) {
            console.log(quote)
            console.log(this.spisok)
            if (this.spisok.length >= 10) {
                alert("Для добавления новых цитат удалите одну из добавленных");
            } else {
                // this.spisok.push(quote);
                this.message = "";
                this.$emit("sendQuote", this.spisok);
                this.spisok.push(quote)
                this.saveFile(quote);
            }
        },
        saveFile: function(quote) {
            console.log("saving...")
            axios.post('/list', {
                quote: this.spisok,
            })
            .then((response) => {
                console.log("save response")
                console.log(response)
                if (response.data === "ok") {
                    this.getQuotes();
                }
            })
            .catch((error) => {
                console.log(error);
            });
        },
        getQuotes: function() {
            console.log("getting...")
            axios.get('/list')
            .then((response) => {
                console.log("have: ")
                console.log(this.spisok)
                console.log("got: ")
                console.log(response.data)
                if (response.data) {
                    this.spisok = response.data;
                } else {
                    console.log("nothing: ")
                    this.spisok = [];
                }
                this.$emit("sendQuote", this.spisok);
            })
            .catch((error) => {
                console.log(error);
            })
        }
    },
    mounted() {
        this.getQuotes();
    }
}
</script>

<style scoped>

    .container {
        margin: 20px;
    }

    .message {
        border: 1px solid #5179b7;
        width: 400px;
        height: 80px;
    }
    

</style>